<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>A Warm Welcome!</h1>
        <h3>Focus on your business, not on IT</h3>
        <h5>We know information technology better than anyone, so we offer highly secure, reliable, affordable IT solutions that grow with your business. Our small business solutions make it easy to deploy and manage networking, collaboration, security, and data center technologies.</h5>
        <p><a class="btn btn-primary btn-large">Explore!</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="https://www.cisco.com/c/en/us/solutions/small-business/_jcr_content/Grid/category_atl_ff32/layout-category-atl/blade_b893/bladeContents/tile_81c3/image.img.png/1521151047408.png" alt="">
                <div class="caption">
                    <h3>Networking</h3>
                    <p>Manage a Network, Not a Collection of Devices. </p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="https://www.cisco.com/c/en/us/solutions/small-business/_jcr_content/Grid/category_atl_ff32/layout-category-atl/blade_3f1/bladeContents/tile_cfec/image.img.gif/1521586446366.gif" alt="">
                <div class="caption">
                    <h3>Mobility</h3>
                    <p> Control Center for Mobile Enterprise.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="https://www.cisco.com/c/en/us/solutions/small-business/_jcr_content/Grid/category_atl_ff32/layout-category-atl/blade_b893/bladeContents1/tile_146e/image.img.png/1521065182027.png" alt="">
                <div class="caption">
                    <h3>Security</h3>
                    <p>Protect your business. Prevent, detect, and mitigate security threats. </p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="https://www.cisco.com/c/en/us/solutions/small-business/_jcr_content/Grid/category_atl_ff32/layout-category-atl/anchor_info_1b97/image.img.gif/1520465043949.gif" alt="">
                <div class="caption">
                    <h3>SME IT Solutions</h3>
                    <p>Our small business solutions think big. Get IT that works for your business--simply, securely, reliably, and affordably.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; John Karanja SCT314-D1-1895/2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
